<div class=" container-fluid row" style="margin-top:3%">
    <h1>Hard & Soft Kills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let te of tecno">
      <circle-progress 
         [percent]="(te.porcentaje_tecnologia)" 
         [radius]="80" 
         [imageSrc]="''" 
         [title]="(te.nombre_tecnologia)"
         [titleColor]="'greenyellow'"
         [showTitle]="true" 
         [showImage]="false" 
         [imageHeight]="70" 
         [imageWidth]="70" 
         [showUnits]="false"
         [showSubtitle]="false" 
         [outerStrokeWidth]="16" 
         [innerStrokeWidth]="8" 
         [outerStrokeColor]="'#78C000'"
         [innerStrokeColor]="'blue'" 
         [animation]="true" 
         [animationDuration]="300"></circle-progress>
    </div> 
</div> 
