    <div class="row"> 
        <div class="col-1"> 
       <img src="../../../assets/user1.png" height="80px" widht="80px" style="position:absolute; left:1%; top:450px"/>
       </div>
       <h1>Acerca de</h1>
       <h2>Roger E. Roldan</h2>
       <h3>Full Stack Developer jr.</h3>
       <div class="col-12">
           <p>Lorem ipsum dolor sit amet consectetur adipisicing 
            elit. Magni accusantium cumque, aliquam enim quasi 
            laboriosam beatae quia nam sunt, ducimus iste neque adipisci 
            quos fugiat! Ab quisquam dolorem totam nobis. Lorem ipsum, dolor 
            sit amet consectetur adipisicing elit. Dolores rerum, saepe laborum 
            impedit dolor non ratione omnis ipsam delectus, aperiam quibusdam alias 
            soluta voluptatibus animi beatae consequatur nostrum adipisci voluptas.</p>
       </div>
    </div>                                
