<div class="container-fluid">
    <div class="row"> 
         <div class="col-1"> 
         <img src="../../../assets/user1.png" height="80px" widht="80px" style="position:absolute; left:1%; top:450px"/>
         </div>
    </div>     
    <h1>Acerca de</h1>
    <div class="row" styles="height: 100px">
            <div *ngFor="let dp of DatosPer">
                <br> 
                <h2>{{dp.nombre}} {{dp.apellido}}</h2>
                <h2>{{dp.correo_electronico}}</h2>
            </div>
    </div>
</div>                                   
