<div class="row" style="margin-top:3%">
    <h1>Hard & Soft Kills</h1>
    <div class="col-4">
        <circle-progress
          [percent]="60"
          [radius]="100"
          [imageSrc]="'../../../assets/html5.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'blue'"
          [animation]="true"
          [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="col-4">
        <circle-progress
          [percent]="60"
          [radius]="100"
          [imageSrc]="'../../../assets/css3.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'blue'"
          [animation]="true"
          [animationDuration]="300">
        </circle-progress>
    </div>     
    <div class="col-4">
        <circle-progress
          [percent]="60"
          [radius]="100"
          [imageSrc]="'../../../assets/javascript.png'" 
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'blue'"
          [animation]="true"
          [animationDuration]="300">
        </circle-progress>
    </div>
    <div class="col-4">
        <circle-progress
          [percent]="60"
          [radius]="100"
          [imageSrc]="'../../../assets/angular.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'blue'"
          [animation]="true"
          [animationDuration]="300">
        </circle-progress>
    </div> 
    <div class="col-4">
        <circle-progress
          [percent]="60"
          [radius]="100"
          [imageSrc]="'../../../assets/bootstrap.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'blue'"
          [animation]="true"
          [animationDuration]="300">
        </circle-progress>
    </div> 
    <div class="col-4">
        <circle-progress
          [percent]="60"
          [radius]="100"
          [imageSrc]="'../../../assets/javasprintboot.png'"
          [showImage]="true"
          [imageHeight]="70"
          [imageWidth]="70"
          [showUnits]="false"
          [showSubtitle]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'blue'"
          [animation]="true"
          [animationDuration]="300">
        </circle-progress>
    </div> 
</div>
